@{
    ViewData["Title"] = "Cambiar Contraseña";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var labelAtt = new
    {
        @@class = "form-label"
    };
}
@model SEINMX.Models.Cuenta.LoginCambioViewModel
<div class="container min-vh-100 d-flex justify-content-center align-items-center">

    <div class="login-box">
        <div class="card card-dark">
            <div class="card-header text-center">
                <h3>Cambiar Contraseña</h3>
            </div>
            <div class="card-body">

                @if (TempData["Mensaje"] != null)
                {
                    <div class="alert alert-warning">
                        @TempData["Mensaje"]
                    </div>
                }

                @if (ViewBag.Error != null)
                {
                    <div class="alert alert-danger">@ViewBag.Error</div>
                }

                @using (Html.BeginForm("CambiarPassword", "Cuenta", FormMethod.Post))
                {
                    @Html.LabelFor(model => model.NuevaPassword, labelAtt)
                    <div class="input-group mb-3">
                        @Html.EditorFor(model => model.NuevaPassword, new { htmlAttributes = new { @class = "form-control" } })

                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>

                    </div>
                    @Html.ValidationMessageFor(model => model.NuevaPassword)

                    @Html.LabelFor(model => model.ConfirmarPassword, labelAtt)
                    <div class="input-group mb-3">
                        @Html.EditorFor(model => model.ConfirmarPassword, new { htmlAttributes = new { @class = "form-control" } })

                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>

                    </div>
                    @Html.ValidationMessageFor(model => model.ConfirmarPassword)

                    <div class="row">
                        <div class="col-12 d-flex align-items-center justify-content-center mb-3">
                            <button type="submit" class="btn btn-dark btn-block">Actualizar Contraseña</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>