@model List<SEINMX.Context.Database.CotizacionDetalle>


<table class="table table-striped">
    <thead>
    <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Total</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.IdProducto</td>
            <td>@item.Cantidad</td>
            <td>@item.PrecioCliente</td>
            <td>@item.Total</td>
            <td>
                <button class="btn btn-warning btn-sm"
                        onclick="showEditProducto(@item.IdCotizacionDetalle)">
                    Editar
                </button>
                <button class="btn btn-danger btn-sm"
                        onclick="deleteProducto(@item.IdCotizacionDetalle)">
                    Eliminar
                </button>
            </td>
        </tr>
    }
    </tbody>
</table>