@using System.Globalization
@using SEINMX.Clases.Helpers
@model SEINMX.Models.Inventario.CotizacionBuscadorViewModel

@{
    ViewBag.Title = "Cotizaciones";
    CultureInfo cultureMx = new CultureInfo("es-MX");

    @functions {

        public static string BadgeEstatus(int? status)
        {
            switch (status)
            {
                case 1:
                    return "<span class=\"badge bg-primary\">CREADA</span>";

                case 2:
                    return "<span class=\"badge bg-info\">COTIZADA</span>";

                case 3:
                    return "<span class=\"badge bg-success\">AUTORIZADA</span>";

                case 4:
                    return "<span class=\"badge bg-warning text-dark\">PAGADA</span>";

                case 5:
                    return "<span class=\"badge bg-secondary\">EN PROCESO</span>";

                case 6:
                    return "<span class=\"badge bg-dark\">CERRADA</span>";

                default:
                    return "<span class=\"badge bg-light text-dark\">DESCONOCIDO</span>";
            }
        }


        public static string BadgeColor(int? id)
        {
            switch (id)
            {
                case 1:
                    return "badge bg-primary";

                case 2:
                    return "badge bg-info";

                case 3:
                    return "badge bg-success";

                case 4:
                    return "badge bg-warning text-dark";

                case 5:
                    return "badge bg-secondary";

                case 6:
                    return "badge bg-dark";

                default:
                    return "badge bg-light text-dark";
            }
        }


    }
}

<div class="container-fluid mt-4 px-sm-0">

    <div class="card shadow-sm">
        <div class="card-header bg-secondary text-white">
            <h3 class="card-title">
                <i class="fas fa-users"></i> Lista de Cotizaciones
            </h3>
        </div>

        <div class="card-body">

            <!-- FILTROS -->
            <form method="get" class="row g-3">

                <div class="col-md-2">
                    <label class="form-label"># Cotización</label>
                    <input type="text" name="idCotizacion" class="form-control" placeholder="ID..."
                           value="@Model.IdCotizacion">
                </div>

                <div class="col-md-6">
                    <label class="form-label">Cliente </label>
                    <input type="text" name="cliente" class="form-control" placeholder="Buscar..."
                           value="@Model.Cliente">
                </div>


                <!-- FILTRO DE IDTIPO -->
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="form-label" for="Status">Status</label>
                        @Html.DropDownListFor(
                            m => m.Status,
                            Model.GetComboStatus(),
                            new { @class = "form-select", id = "Status", name = "Status" }
                        )
                    </div>
                </div>

                <!-- BOTÓN DE BÚSQUEDA -->
                <div class="col-md-2 d-flex align-items-end">
                    <button type="submit" class="btn btn-primary w-100">
                        <i class="fas fa-search"></i> Buscar
                    </button>
                </div>
            </form>

            <hr/>


            <!-- BOTÓN AGREGAR CLIENTE -->
            <div class="mb-3">
                <button class="btn btn-primary"
                        onclick="location.href='@Url.Action("Nueva", "Cotizacion")'">
                    Crear Cotización
                </button>
            </div>


            <!-- TABLA -->
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">
                    <thead class="table-dark">
                    <tr>
                        <th><i class="fa-solid fa-hashtag"></i> Cotización</th>
                        <th><i class="fas fa-id-card"></i> Cliente</th>
                        <th><i class="fa-regular fa-calendar"></i> Fecha</th>
                        <th><i class="fas fa-user"></i> Usuario</th>
                        <th><i class="fas fa-tag"></i> Status</th>
                        <th><i class="fa-solid fa-layer-group"></i> Perfil</th>
                        <th><i class="fa-regular fa-money-bill-1"></i> Sub Total</th>
                        <th><i class="fa-regular fa-money-bill-1"></i> IVA</th>
                        <th><i class="fa-regular fa-money-bill-1"></i> Total</th>
                        <th><i class="fas fa-gear"></i> Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.Cotizaciones)
                    {
                        <tr id="row-@item.IdCotizacion">
                            <td>@item.Cotizacion</td>
                            <td>@item.Cliente</td>
                            <td>@item.Fecha</td>
                            <td>@item.UsuarioResponsable</td>

                            <td>
                                @Html.Raw(BadgeEstatus(item.Status))
                            </td>

                            <td>
                                @Html.Raw($"<span class=\"{BadgeColor(item.IdPerfil)}\" >{item.Perfil}</span>")
                            </td>
                            <td>
                                @string.Format(cultureMx, "{0:C}", item.SubTotal)
                            </td>
                            <td>
                                @string.Format(cultureMx, "{0:C}", item.Iva)
                            </td>
                            <td>
                                @string.Format(cultureMx, "{0:C}", item.Total)
                            </td>
                            <td>
                                <button class="btn btn-sm btn-primary"
                                        onclick="location.href='@Url.Action("Editar", "Cotizacion", new { id = item.IdCotizacion })'">
                                    <i class="fas fa-pen-to-square"></i>
                                </button>

                                <a class="OpenSideNav text-white btn btn-sm btn-secondary"
                                   href="@Url.Action("GenerarPdf", "Cotizacion", new { idCotizacion = item.IdCotizacion })"
                                   target="frameCB"> <i class="fa-regular fa-eye "></i></a>


                                <a class="btn btn-sm btn-secondary"
                                   href="@Url.Action("GenerarPdf", "Cotizacion", new { idCotizacion = item.IdCotizacion, file = true })">
                                    <i class="fa-regular fa-file-pdf"></i>
                                </a>
                                @if (UserClaimsHelper.IsAdmin(User))
                                {
                                    <a class="btn btn-sm btn-secondary"
                                       href="@Url.Action("OrdenCompra", "Cotizacion", new { idCotizacion = item.IdCotizacion })">
                                        <i class="fa-solid fa-bag-shopping"></i>
                                    </a>
                                }

                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>

        </div>
    </div>


    <div class="row">
        <div id="SideframeCB" class="sidenav col-12 col-sm-12 col-md-10 col-lg-6 ">
            <a class="closebtn CloseSideNav" data-itn-sidenav="SideframeCB"
               data-itn-frame="frameCB">&times;Cerrar</a>
            <iframe id="frameCB" name="frameCB" class="border-0 h-100 col-12 col-md-12 col-lg-12"></iframe>
        </div>
    </div>

</div>

