@using System.Globalization
@model SEINMX.Models.Inventario.CotizacionPdfModel
@using SEINMX.Clases.Helpers


@{
    Layout = null;
    CultureInfo cultureMx = new CultureInfo("es-MX");
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Cotización @Model.IdCotizacion</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 10px;
            padding: 30px;
        }

        .ColorHeader {
            background-color: #f8aa00;
        }

        .ColorSubHeader {
            border: 1px solid #e3e3e3;
            background: #fafafa;
        }

        .summary-box {
            border: 1px solid #e3e3e3;
            padding: 10px;
            border-radius: 6px;
            background: #fafafa;
        }

        .ColorTablePrincipal tr th {
            background-color: #000000;
            color: #ffffff;
        }

        .tableHeder {
            min-width: 80%;
        }


        .tableHeder, .tableHeder tr {
            border: 1px solid #ccc;
        }


        .tableDatos {
            border: 1px solid #ccc;
        }

        .tableHeder tbody tr td {
            padding: 2px 3px;

        }

        .logo-superior {
            width: 270px;

        }


        .table td, .table th {
            vertical-align: middle;
            font-size: 12px;
        }

        .totales td {
            font-size: 14px;
            padding: 4px;
        }

        .page-break {
            page-break-after: always;
        }


        html, body {
            height: 100%;
        }

        body {
            display: flex;
            flex-direction: column;
        }

        .page-footer {
            margin-top: auto; /* empuja el footer al fondo */
            padding-top: 10px;
            font-size: 11px;
            border-top: 1px solid #ccc;

        }

        /* Para PuppeteerSharp y PDF: footer fijo */
        @@media print {
            .page-footer {
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
            }
        }
    </style>

    <!-- Bootstrap 5 -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
</head>

<body>

<div class="container-fluid">
    <!-- DATOS DE ENCABEZADO -->
    <div class="row mb-4 align-items-center">
        <div class="col-6 ps-1 pt-3">
            <img src="@UrlExtensions.Absolute("/img/Sein-logo-letras.webp")" alt="Logo Empresa" class="logo-superior">
        </div>



        <div class="col-5 offset-1 p-0">
            <table class="tableHeder ms-auto">
                <thead class="ColorHeader ">
                <tr>
                    <th colspan="2" class="fw-bold text-center"><strong>COTIZACIÓN # @Model.IdCotizacion</strong></th>

                </tr>
                </thead>

                <tbody>
                <tr>
                    <td class="ColorSubHeader"><strong>Fecha:</strong></td>
                    <td> @Model.Fecha.ToString("dd De MMMM Del yyyy")</td>
                </tr>
                <tr>
                    <td class="ColorSubHeader "><strong>Moneda:</strong></td>
                    <td> MXN</td>
                </tr>
                <tr>
                <td class="ColorSubHeader "><strong>Sucursal:</strong></td>
                <td> Guadalajara</td>

                <tr>
                    <td class="ColorSubHeader "><strong>Asesor:</strong></td>
                    <td> @Model.UsuarioResponsable</td>
                </tr>
                </tbody>

            </table>

        </div>


    </div>


    <!-- DATOS DEl CLIENTE -->
    <div class="row mb-4">

        <div class="col-12 mt-3 px-0 tableDatos summary-box">
            <table class="">
                <tbody>
                <tr>
                    <td ><strong>Cliente:</strong></td>
                    <td colspan="3" class="text-start"> @Model.Cliente</td>
                </tr>
                <tr>
                    <td><strong>Contacto:</strong></td>
                    <td class="text-start"> @Model.NombreContacto</td>
                    <td colspan="2"><span><strong>Teléfono:</strong></span> @Model.Telefono</td>

                </tr>
                <tr>
                    <td class="text-end" colspan="1"><strong>Vigencia:</strong></td>
                    <td class="text-end" colspan="3">
                        <strong>15 días naturales a partir de la fecha de
                            elaboración</strong></td>
                </tr>
                </tbody>

            </table>

        </div>
    </div>

    <!-- TABLA DETALLE -->
    <div class="row mb-4">
        <table class="table table-sm table-bordered table-striped ">
            <thead class="table-secondary ColorTablePrincipal">
            <tr>
                <th>#</th>
                <th>Código</th>
                <th>Descripción</th>
                <th class="text-end">Cantidad</th>
                <th class="text-end">Precio</th>
                <th class="text-end">Importe</th>
                <th>Observaciones</th>
            </tr>
            </thead>
            <tbody>
            @{ int RowNumber = 1; }
            @foreach (var item in Model.Detalles)
            {
                <tr>
                    <td>@RowNumber</td>
                    <td>@item.Codigo</td>
                    <td>@item.Descripcion</td>
                    <td class="text-end">@item.Cantidad</td>
                    <td class="text-end">@item.PrecioCliente.ToString("C2")</td>
                    <td class="text-end">@item.Total.ToString("C2")</td>
                    <td>@item.Observaciones</td>
                </tr>
                RowNumber += 1;
            }
            </tbody>
        </table>
    </div>
    <!-- TOTALES -->
    <div class="row mt-4">
        <div class="col-6"></div>
        <div class="col-6">
            <table class="w-100 totales">
                <tr>
                    <td class="fw-bold text-end">Subtotal:</td>
                    <td class="text-end">
                        @string.Format(cultureMx, "{0:C}", Model.SubTotal)
                    </td>
                </tr>
                <tr>
                    <td class="fw-bold text-end">IVA:</td>
                    <td class="text-end">
                        @string.Format(cultureMx, "{0:C}", Model.Iva)
                    </td>
                </tr>
                <tr>
                    <td class="fw-bold text-end">Total:</td>
                    <td class="text-end">
                        @string.Format(cultureMx, "{0:C}", Model.Total)
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!-- CONDICIONES -->

    <div class="row mt-4">
        <div class="col-12">
            <span class="fw-bold"><strong>Términos y condiciones</strong></span>
            <ul>
                <li>Existencias sujetas a disponibilidad.</li>
                <li>Sólo se comprometen existencias con orden de compra y transferencia en firme.</li>
                <li>Para entregas el mismo día, el límite para recepción de orden de compra es 10:30 am.</li>
                <li>El precio cotizado contempla el costo total del envío (entrega ocurre).</li>
            </ul>

        </div>
    </div>
</div>


<footer>
    <div class="page-footer mt-4">

        <!-- LOGO INFERIOR -->
        <div class="col-12">
            <img src="@UrlExtensions.Absolute("/img/PiePagina.webp")" class="logo-inferior" alt="Logo Pie" width="100%">
        </div>
    </div>
</footer>
</body>
</html>




