
@{
    ViewBag.Title = "Editar Orden Compra";
    CultureInfo cultureMx = new CultureInfo("es-MX");

    var labelAtt = new
    {
        @@class = "form-label"
    };

    var labelValidation = new
    {
        @@class = "text-danger"
    };
    var editformAtt = new
    {
        htmlAttributes = new
        {
            @@class = "form-control"
        }
    };
}

@using System.Globalization
@model SEINMX.Models.Inventario.OrdenCompraViewModel

<div class="container-fluid mt-4 px-0 px-sm-1 px-md-4">
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @ViewBag.Error
            @TempData["toast-error"]
            @Html.ValidationSummary()
        </div>
    }

    <!-- INFO Orden Compra -->
    <div class="row">
        <div class="col-sm-12 col-md-5 col-lg-3">
            <div class="info-box">
                <span class="info-box-icon text-bg-success shadow-sm">
                    <i class="fas fa-id-card"></i>
                </span>

                <div class="info-box-content">
                    <span class="info-box-text"> @Html.DisplayNameFor(model => model.IdOrdenCompra)  </span>
                    <span class="info-box-number"> @Model.IdOrdenCompra / @Model.Cotizacion</span>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-7 col-lg-4">
            <div class="info-box">
                <span class="info-box-icon text-bg-success shadow-sm">
                    <i class="fas fa-user"></i>
                </span>

                <div class="info-box-content">
                    <span class="info-box-text">@Html.DisplayNameFor(model => model.Cliente)</span>
                    <span class="info-box-number">@Model.Cliente</span>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-7 col-lg-5 offset-sm-0 offset-md-5 offset-lg-0">
            <div class="info-box">
                <span class="info-box-icon text-bg-success shadow-sm">
                    <i class="fa-solid fa-building-user"></i>
                </span>

                <div class="info-box-content">
                    <span class="info-box-text">@Html.DisplayNameFor(model => model.Proveedor)</span>
                    <span class="info-box-number">@Model.Proveedor</span>
                </div>
            </div>
        </div>
    </div>



    <!-- FORM Cotizacion -->


    @using (Html.BeginForm("Guardar", "OrdenCompra", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.IdOrdenCompra)
        <div class="card card-secondary mt-3">
            <div class="card-header">
                <h3 class="card-title">Datos generales</h3>
            </div>

            <div class="card-body">

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Status, labelAtt)
                            @Html.DropDownListFor(
                                m => m.Status,
                                Model.GetComboStatus(),
                                new { @class = "form-select", id = "Status", name = "Status" }
                            )
                            @Html.ValidationMessageFor(model => model.Status, "", labelValidation)
                        </div>
                    </div>

                    <!-- Fecha -->
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Fecha, labelAtt)
                        @Html.EditorFor(model => model.Fecha, editformAtt)
                        @Html.ValidationMessageFor(model => model.Fecha, "", labelValidation)

                    </div>

                    <!-- Tipo de Cambio -->
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.TipoCambio, labelAtt)
                        @Html.EditorFor(model => model.TipoCambio, editformAtt)
                        @Html.ValidationMessageFor(model => model.TipoCambio, "", labelValidation)
                    </div>

                    <!-- Porcentaje Proveedor -->
                    <div class="col-md-3 col-lg-2">
                        @Html.LabelFor(model => model.PorcentajeProveedor, labelAtt)
                        @Html.EditorFor(model => model.PorcentajeProveedor, editformAtt)
                        @Html.ValidationMessageFor(model => model.PorcentajeProveedor, "", labelValidation)

                    </div>
                    <div class="col-md-3 col-lg-2">
                        @Html.LabelFor(model => model.PorcentajeProveedorGanancia, labelAtt)
                        @Html.EditorFor(model => model.PorcentajeProveedorGanancia, editformAtt)
                        @Html.ValidationMessageFor(model => model.PorcentajeProveedorGanancia, "", labelValidation)

                    </div>
                    <!-- Condicion Pago -->
                    <div class="col-md-6 col-lg-4">
                        @Html.LabelFor(model => model.CondicionPago, labelAtt)
                        @Html.EditorFor(model => model.CondicionPago, editformAtt)
                        @Html.ValidationMessageFor(model => model.CondicionPago, "", labelValidation)

                    </div>

                </div>

                <div class="row mt-3">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.Observaciones, labelAtt)
                        @Html.EditorFor(model => model.Observaciones, editformAtt)
                        @Html.ValidationMessageFor(model => model.Observaciones, "", labelValidation)
                    </div>
                </div>

            </div>

            <div class="card-footer text-end">
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-save"></i> Guardar
                </button>
            </div>
        </div>
    }

    <!-- Agregar Productos TABLA-->
    <div class="card mt-3">
        <div class="card-header">
            <b>Productos</b>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover mt-4 " id="tablaDetalle">
                    <thead>
                    <tr>
                        <th>Código</th>
                        <th>Código Proveedor</th>
                        <th>Descripción</th>
                        <th>Cantidad Cotizada</th>
                        <th>Precio Lista (MXN)</th>
                        @*<th>% Proveedor</th>*@
                        <th>Precio Sein</th>
                        <th>Cantidad Disponible</th>
                        <th>Cantidad OC</th>
                        <th>Total (MXN)</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @{
                        var rowNumb = 1;
                        var sClass = "";
                    }
                    @foreach (var item in Model.Detalles)
                    {
                        sClass = "";
                        if (item.CantidadDisponible == 0)
                        {
                            sClass = "table-secondary";
                        }

                        <tr id="row-@rowNumb" class="@sClass"
                            data-idCotizacionDetalle="@item.IdCotizacionDetalle"
                            data-idOrdenCompraDetalle="@item.IdOrdenCompraDetalle"
                            data-precio="@item.PrecioProveedor"
                            data-disponible="@item.CantidadDisponible"

                            data-mode="view">

                            <td class="codigo">@Html.DisplayFor(m => item.Codigo)</td>
                            <td class="codigoProveedor">@Html.DisplayFor(m => item.CodigoProveedor)</td>
                            <td class="descripcion">@Html.DisplayFor(m => item.Descripcion)</td>
                            <td class="cantidadCotizada text-center">@Html.DisplayFor(m => item.CantidadCotizada)</td>
                            <td class="precioLista text-end">@Html.DisplayFor(m => item.PrecioListaMXN)</td>
                            @*<td class="porcentajeProveedor text-center">@Html.DisplayFor(m => item.PorcentajeProveedor)</td>*@
                            @*<td class="precioProveedor text-end">@Html.DisplayFor(m => item.PrecioProveedor)</td>*@
                            <td class="precioSein text-end">@Html.DisplayFor(m => item.PrecioSein)</td>
                            <td class="cantidadDisponible text-center">@Html.DisplayFor(m => item.CantidadDisponible)</td>

                            <td class="cantidad text-center ">
                                <span class="valor">@item.Cantidad</span>
                                <input type="number" class="form-control form-control-sm d-none"
                                       min="1" value="@item.Cantidad">
                            </td>
                            <td class="total text-end ">@Html.DisplayFor(m => item.Total)</td>
                            <td class="acciones text-center"></td>
                        </tr>
                    }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- TOTALES -->
    <div class="row  mt-3">
        <div class="col-md-3">
            <div class="info-box">
                    <span class="info-box-icon text-bg-success shadow-sm">
                        <i class="fa-solid fa-filter-circle-dollar"></i>
                    </span>

                <div class="info-box-content">
                    <span class="info-box-text">Sub total</span>
                    <span class="info-box-number" id="infoSubTotal"
                          name="infoSubTotal">
                        @Html.DisplayFor(m => Model.SubTotal)
                        </span>
                </div>
            </div>

        </div>


        <div class="col-md-3">
            <div class="info-box">
                    <span class="info-box-icon text-bg-success shadow-sm">
                        <i class="fa-solid fa-building-columns"></i>
                    </span>

                <div class="info-box-content">
                    <span class="info-box-text">IVA</span>
                    <span class="info-box-number" id="infoIva" name="infoIva">
                        @Html.DisplayFor(m => Model.Iva)
                        </span>
                </div>
            </div>

        </div>

        <div class="col-md-3">
            <div class="info-box">
                    <span class="info-box-icon text-bg-success shadow-sm">
                        <i class="fa-solid fa-sack-dollar"></i>
                    </span>

                <div class="info-box-content">
                    <span class="info-box-text">Total</span>
                    <span class="info-box-number" id="infoTotal" name="infoTotal">
                        @Html.DisplayFor(m => Model.Total)
                        </span>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="info-box">
                    <span class="info-box-icon text-bg-success shadow-sm">
                        <i class="fa-regular fa-file-pdf"></i>
                    </span>

                <div class="info-box-content">
                    <a class="OpenSideNav text-white btn btn-sm btn-secondary"
                       style="--bs-btn-padding-y: 0.25rem; --bs-btn-padding-x: 0.5rem; --bs-btn-font-size: 0.75rem; "
                       href="@Url.Action("GenerarPdf", "OrdenCompra", new { id = Model.IdOrdenCompra })"
                       target="frameCB"> <i class="fa-solid fa-eye"></i> Ver</a>


                    <a class="btn btn-secondary mt-1"
                       style="--bs-btn-padding-y: 0.25rem; --bs-btn-padding-x: 0.5rem; --bs-btn-font-size: 0.75rem; "
                       href="@Url.Action("GenerarPdf", "OrdenCompra", new { id = Model.IdOrdenCompra, file = true })">
                        <i class="fa-solid fa-download"></i> Descargar
                    </a>

                </div>
            </div>
        </div>
    </div>

    <!-- PREVIEW PDF -->
    <div class="row">
        <div id="SideframeCB" class="sidenav col-12 col-sm-12 col-md-10 col-lg-6 ">
            <a class="closebtn CloseSideNav" data-itn-sidenav="SideframeCB"
               data-itn-frame="frameCB">&times;Cerrar</a>
            <iframe id="frameCB" name="frameCB" class="border-0 h-100 col-12 col-md-12 col-lg-12"></iframe>
        </div>
    </div>





    <script>
        const idOrdenCompra = @Model.IdOrdenCompra;
        const idCotizacion = @Model.IdCotizacion;


        function isError(json) {
            if (!json.ok) {
                //  alert(json.msg);
                showToast("Error", json.msg ?? "Ocurrió un error", "error");
                return true;
            }
            return false;

        }

        function renderAcciones(tr) {
            const idDetalle = tr.dataset.idordencompradetalle;
            const acciones = tr.querySelector(".acciones");

            const wrap = (html) => `
                <div class="d-flex justify-content-center align-items-center gap-1 flex-nowrap">
                    ${html}
                </div>
            `;

            if (tr.dataset.mode === "edit") {
                acciones.innerHTML = wrap(`
            <button class="btn btn-success btn-sm" onclick="guardarDetalle(this)">
                <i class="fas fa-save"></i>
            </button>
            <button class="btn btn-secondary btn-sm ms-1" onclick="cancelarEdicion(this)">
                <i class="fas fa-times"></i>
            </button>`);
                return;
            }
            if (!idDetalle) {
                acciones.innerHTML = wrap(`
            <button class="btn btn-success btn-sm" onclick="editarDetalle(this)">
                <i class="fas fa-plus"></i>
            </button>`);
            } else {
                acciones.innerHTML = wrap(`
            <button class="btn btn-primary btn-sm" onclick="editarDetalle(this)">
                <i class="fas fa-pen-to-square"></i>
            </button>
            <button class="btn btn-danger btn-sm ms-1" onclick="eliminarDetalle(this)">
                <i class="fas fa-trash"></i>
            </button>`);
            }
        }

        function editarDetalle(btn) {
            const tr = btn.closest("tr");

            if (!tr.dataset.originalCantidad) {
                tr.dataset.originalCantidad = tr.querySelector(".cantidad .valor").textContent;
                tr.dataset.originalTotal = tr.querySelector(".total").textContent;
            }

            tr.dataset.mode = "edit";

            const input = tr.querySelector(".cantidad input");
            const span = tr.querySelector(".cantidad .valor");


            const cantidad = parseFloat(input.value) || 0;
            if (isNaN(cantidad) || cantidad <= 0) {
                input.value = tr.dataset.disponible
            }

            span.classList.add("d-none");
            input.classList.remove("d-none");
            input.focus();

            input.addEventListener("input", () => recalcularTotal(tr));

            renderAcciones(tr);
        }

        function recalcularTotal(tr) {
            const precio = parseFloat(tr.dataset.precio);
            const inputCantidad = tr.querySelector(".cantidad input");
            const cantidad = parseFloat(inputCantidad.value) || 0;

            const total = precio * cantidad;


            if (isNaN(cantidad) || cantidad <= 0) {
                inputCantidad.classList.add("is-invalid");
            } else {
                // Quitar error visual si estaba marcado
                inputCantidad.classList.remove("is-invalid");
            }


            tr.querySelector(".total").textContent =
                total.toLocaleString("es-MX", {style: "currency", currency: "MXN"});
        }

        function cancelarEdicion(btn) {
            const tr = btn.closest("tr");

            const spanCantidad = tr.querySelector(".cantidad .valor");
            const inputCantidad = tr.querySelector(".cantidad input");
            const totalTd = tr.querySelector(".total");

            const idDetalle = tr.dataset.idordencompradetalle;

            if (idDetalle) {
                // 🔹 Caso EDITAR (ya existía en BD)
                spanCantidad.textContent = tr.dataset.originalCantidad;
                totalTd.textContent = tr.dataset.originalTotal;
            } else {
                // 🔹 Caso AGREGAR (nuevo)
                spanCantidad.textContent = "0";
                totalTd.textContent =
                    (0).toLocaleString("es-MX", {style: "currency", currency: "MXN"});
                inputCantidad.value = 0;
            }

            // Restaurar UI
            spanCantidad.classList.remove("d-none");
            inputCantidad.classList.add("d-none");

            tr.dataset.mode = "view";

            // Limpiar backups
            delete tr.dataset.originalCantidad;
            delete tr.dataset.originalTotal;

            renderAcciones(tr);
        }

        async function guardarDetalle(btn) {
            const tr = btn.closest("tr");

            const inputCantidad = tr.querySelector(".cantidad input");
            const cantidad = parseFloat(inputCantidad.value);

            if (isNaN(cantidad) || cantidad <= 0) {
                inputCantidad.classList.add("is-invalid");
                inputCantidad.focus();

                showToast(
                    "Cantidad inválida",
                    "La cantidad debe ser mayor a 0",
                    "error"
                );
                return;
            } else {
                // Quitar error visual si estaba marcado
                inputCantidad.classList.remove("is-invalid");
            }

            const payload = {
                IdOrdenCompra: idOrdenCompra,
                IdCotizacion: idCotizacion,
                IdCotizacionDetalle: parseInt(tr.dataset.idcotizaciondetalle),
                IdOrdenCompraDetalle: tr.dataset.idordencompradetalle
                    ? parseInt(tr.dataset.idordencompradetalle)
                    : null,
                Cantidad: cantidad
            };

            try {
                const res = await fetch('/OrdenCompra/GuardarDetalle', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(payload)
                });

                if (!res.ok) {
                    showToast(
                        "Error",
                        `Error del servidor (${res.status})`,
                        "error"
                    );
                    return;
                }

                const json = await res.json();
                if (!json.ok) return showToast("Error", json.msg, "error");

                recargarTotales();

                const model = json.data[0];
                actualizarFilaDesdeModelo(tr, model);


            } catch (err) {
                showToast(
                    "Error",
                    "No se pudo conectar con el servidor.",
                    "error"
                );
            }
        }


        async function eliminarDetalle(btn) {
            const tr = btn.closest("tr");
            const id = parseInt(tr.dataset.idordencompradetalle);

            try {
                const res = await fetch(`/OrdenCompra/EliminarDetalle/${id}`, {
                    method: 'DELETE'
                });

                if (!res.ok) {
                    showToast(
                        "Error",
                        `Error del servidor (${res.status})`,
                        "error"
                    );
                    return;
                }


                const json = await res.json();

                if (!json.ok) {
                    showToast("Error", json.msg ?? "Ocurrió un error", "error");
                    return;
                }

                recargarTotales();

                const model = json.data[0];
                actualizarFilaDesdeModelo(tr, model);

            } catch (err) {
                showToast(
                    "Error",
                    "No se pudo conectar con el servidor.",
                    "error"
                );
            }
        }


        async function recargarTotales() {
            const res = await fetch(`@Url.Action("GetTotales", "OrdenCompra", new { idOrdenCompra = Model.IdOrdenCompra })`);
            const json = await res.json();
            if (isError(json)) {
                location.reload();
            }

            const infoTotal = document.getElementById("infoTotal");
            const infoSubTotal = document.getElementById("infoSubTotal");
            const infoIva = document.getElementById("infoIva");

            infoTotal.textContent = json.total?.toLocaleString("es-MX", {style: "currency", currency: "MXN"});
            infoSubTotal.textContent = json.subTotal?.toLocaleString("es-MX", {style: "currency", currency: "MXN"});
            infoIva.textContent = json.iva?.toLocaleString("es-MX", {style: "currency", currency: "MXN"});

        }


        function actualizarFilaDesdeModelo(tr, model) {
            // ======================
            // DATA ATTRIBUTES
            // ======================
            if (model.idOrdenCompraDetalle == null) {
                delete tr.dataset.idordencompradetalle;
            } else {
                tr.dataset.idordencompradetalle = model.idOrdenCompraDetalle;
            }

            tr.dataset.idcotizaciondetalle = model.idCotizacionDetalle;
            tr.dataset.mode = "view";

            if (model.cantidadDisponible === 0) {
                tr?.classList.add("table-secondary");
            } else {
                tr?.classList.remove("table-secondary");
            }

            // ======================
            // CELDAS
            // ======================
            tr.querySelector(".codigo").textContent = model.codigo;
            tr.querySelector(".codigoProveedor").textContent = model.codigoProveedor ?? "";
            tr.querySelector(".descripcion").textContent = model.descripcion;

            tr.querySelector(".cantidadCotizada").textContent = model.cantidadCotizada;
            tr.querySelector(".cantidadDisponible").textContent = model.cantidadDisponible;
            tr.querySelector(".cantidad .valor").textContent = model.cantidad;

            tr.querySelector(".precioLista").textContent =
                model.precioListaMXN.toLocaleString("es-MX", {style: "currency", currency: "MXN"});

            @*tr.querySelector(".precioProveedor").textContent =
                model.precioProveedor.toLocaleString("es-MX", {style: "currency", currency: "MXN"});  *@
            tr.querySelector(".precioSein").textContent =
                model.precioSein.toLocaleString("es-MX", {style: "currency", currency: "MXN"});

            @*tr.querySelector(".porcentajeProveedor").textContent =   model.porcentajeProveedor;*@

            tr.querySelector(".total").textContent =
                model.total.toLocaleString("es-MX", {style: "currency", currency: "MXN"});

            // ======================
            // UI
            // ======================
            tr.querySelector(".cantidad input")?.classList.add("d-none");
            tr.querySelector(".cantidad .valor")?.classList.remove("d-none");

            renderAcciones(tr);
        }


        document.querySelectorAll("#tablaDetalle tbody tr")
            .forEach(tr => renderAcciones(tr));

    </script>


</div>






