
@model SEINMX.Models.Directorio.ProveedorBuscadorViewModel


@{
    ViewData["Title"] = "Proveedores";

    var labelAtt = new
    {
        @@class = "form-label"
    };
    var buscadorAtt = new
    {
        htmlAttributes = new
        {
            @@class = "form-control", placeholder = "Buscar..."
        }
    };
}


<div class="container-fluid mt-4 px-sm-0">

    <div class="card shadow-sm">
        <div class="card-header bg-secondary text-white">
            <h3 class="card-title">
                <i class="fa-solid fa-building-user"></i> Lista de Proveedores
            </h3>
        </div>

        <div class="card-body">

            <!-- FILTROS -->
            <form method="get" class="row g-3">

                <div class="col-md-3 mt-2">
                    @Html.LabelFor(model => model.IdProveedor, labelAtt)
                    @Html.EditorFor(model => model.IdProveedor, buscadorAtt)
                </div>

                <div class="col-md-4 mt-2">
                    @Html.LabelFor(model => model.Nombre, labelAtt)
                    @Html.EditorFor(model => model.Nombre, buscadorAtt)
                </div>

                <!-- BOTÓN DE BÚSQUEDA -->
                <div class="col-md-2 d-flex align-items-end">
                    <button type="submit" class="btn btn-primary w-100">
                        <i class="fas fa-search"></i> Buscar
                    </button>
                </div>
            </form>

            <hr/>


            <!-- BOTÓN AGREGAR Proveedor -->
            <div class="mb-3">
                <button class="btn btn-primary"
                        onclick="location.href='@Url.Action("Crear", "Proveedor")'">

                    <i class="fas fa-plus"></i>  Agregar Proveedor
                </button>
            </div>

            <!-- TABLA -->
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">
                    <thead class="table-dark">
                    <tr>

                        <th><i class="fas fa-passport"></i> # Proveedor</th>
                        <th><i class="fas fa-id-card"></i> Nombre</th>
                        <th><i class="fas fa-tag"></i> Tarifa</th>
                        <th><i class="fas fa-tag"></i> Ganancia</th>
                        <th><i class="fas fa-gear"></i> Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    @* Aquí iteras los datos que envíes desde el controlador *@
                    @foreach (var item in Model.Proveedors)
                    {
                        <tr id="row-@item.IdProveedor">

                            <td>@item.IdProveedor</td>
                            <td>@item.Nombre</td>
                            <td>
                                @item.Tarifa
                            </td>
                            <td>
                                @item.TarifaGanancia
                            </td>
                            <td>
                                <button class="btn btn-sm btn-primary"
                                        onclick="location.href='@Url.Action("Editar", "Proveedor", new { id = item.IdProveedor })'">
                                    <i class="fas fa-pen-to-square"></i>
                                </button>

                                <button class="btn btn-sm btn-danger" onclick="eliminarProveedor(@item.IdProveedor, this)">
                                    <i class="fas fa-trash"></i>
                                </button>

                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>




<script>
    function eliminarProveedor(id, btn) {

        // Cambiar icono a cargando
        let originalHtml = btn.innerHTML;
        btn.innerHTML = "<i class='fas fa-spinner fa-spin'></i>";
        btn.disabled = true;

        if (!confirm("¿Seguro que deseas eliminar este registro?")) {
            btn.innerHTML = originalHtml;
            btn.disabled = false;
            return;
        }

        $.ajax({
            url: `/Proveedor/Eliminar/${id}`,
            type: "DELETE",
            success: function (resp) {
                try {
                    if (!resp.ok) {
                        let serverMsg = "Error desconocido al eliminar el Proveedor.";
                        try {
                            serverMsg = resp.error || serverText;

                        } catch(err) {
                        }
                        throw new Error(serverMsg);
                    }

                    showToast("Correcto", "Proveedor Eliminado", "success");

                    $(`#row-${id}`).fadeOut(300, function () {
                        $(this).remove();
                    });
                } catch  (err) {
                    btn.innerHTML = originalHtml;
                    btn.disabled = false;
                    showToast("Error al eliminar", err, "error");
                }
            },
            error: function (xhr) {
                showToast("Error inesperado",  xhr.status + " - " + xhr.statusText, "error");
                btn.innerHTML = originalHtml;
                btn.disabled = false;
            }
        });
    }

</script>