@model SEINMX.Models.Directorio.ClienteViewModel


@{
    ViewBag.Title = "Editar Cliente";
    var labelAtt = new
    {
        @@class = "form-label"
    };

    var labelValidation = new
    {
        @@class = "text-danger"
    };
    var editformAtt = new
    {
        htmlAttributes = new
        {
            @@class = "form-control"
        }
    };
}


<div class="card shadow-sm">

    <div class="card-header bg-secondary text-white d-flex align-items-center">
        <div>
            <i class="fas fa-user"></i> Cliente: @Model.Nombre
        </div>
        <div class="ms-auto">
            @if (Model.esCotizable)
            {
                <button type="button" class="btn btn-light btn-sm me-2"
                        onclick="location.href='@Url.Action("Nueva", "Cotizacion")'">
                    <i class="fas fa-times"></i> Cancelar
                </button>
            }
            else
            {
                <button type="button" class="btn btn-light btn-sm me-2"
                        onclick="location.href='@Url.Action("Index", "Cliente")'">
                    <i class="fas fa-times"></i> Cancelar
                </button>
            }

            <button type="button" id="btnGuardarCliente" class="btn btn-success btn-sm" onclick="guardarCliente()">
                <i class="fas fa-save"></i> Guardar
            </button>
        </div>
    </div>

    <div class="card-body">

        <!-- FORM CLIENTE -->
        <div class="row">
            <div class="col-md-6 mb-2">
                @Html.LabelFor(model => model.Nombre, labelAtt)
                @Html.EditorFor(model => model.Nombre, editformAtt)
                @Html.ValidationMessageFor(model => model.Nombre, "", labelValidation)
            </div>

            <div class="col-md-2 mb-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.IdPerfil, labelAtt)
                    @Html.DropDownListFor(
                        m => m.IdPerfil,
                        (List<SelectListItem>)ViewBag.Perfiles,
                        new { @class = "form-select", id = "IdPerfil", name = "IdPerfil" }
                    )
                    @Html.ValidationMessageFor(model => model.IdPerfil, "", labelValidation)
                </div>
            </div>

            <div class="col-md-12 mb-2">
                @Html.LabelFor(model => model.Direccion, labelAtt)
                @Html.EditorFor(model => model.Direccion, editformAtt)
                @Html.ValidationMessageFor(model => model.Direccion, "", labelValidation)
            </div>

            <div class="col-md-12 mb-2">
                @Html.LabelFor(model => model.Observaciones, labelAtt)
                @Html.EditorFor(model => model.Observaciones, editformAtt)
                @Html.ValidationMessageFor(model => model.Observaciones, "", labelValidation)
            </div>
            @Html.HiddenFor(model => model.IdCliente)
            @Html.HiddenFor(model => model.esCotizable)

        </div>

        <hr/>

        <!-- CONTACTOS -->
        <h5><i class="fas fa-address-book"></i> Contactos</h5>

        <div class="row g-2 mb-2">
            <div class="col-md-3"><input id="ctNombre" class="form-control" placeholder="Nombre"/></div>
            <div class="col-md-3"><input id="ctTel" class="form-control" placeholder="Teléfono"/></div>
            <div class="col-md-3"><input id="ctCorreo" class="form-control" placeholder="Correo"/></div>
            <div class="col-md-3 d-grid">
                <button class="btn btn-primary" onclick="agregarContactoTemp()">
                    <i class="fas fa-plus"></i> Agregar
                </button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-sm table-striped">
                <thead class="table-light">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Correo</th>
                    <th class="text-end">Opciones</th>
                </tr>
                </thead>
                <tbody id="listaContactos">
                @foreach (var c in Model.ClienteContactos)
                {
                    <tr data-id="@c.IdClienteContacto">
                        <td>@c.IdClienteContacto</td>
                        <td><input class="form-control txt_ct_Nombre" value="@c.Nombre"></td>
                        <td><input class="form-control txt_ct_Telefono" value="@c.Telefono"></td>
                        <td><input class="form-control txt_ct_Correo" value="@c.Correo"></td>
                        <td class="text-end">
                            <button class="btn btn-danger btn-sm" onclick="quitarContactoTemp(this)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>

        <hr/>

        <!-- RAZONES SOCIALES -->
        <h5><i class="fas a-file-invoice"></i> Razones Sociales</h5>

        <div class="row g-2 mb-2">
            <div class="col-md-3"><input id="rzRFC" class="form-control text-uppercase" placeholder="RFC"/></div>
            <div class="col-md-3"><input id="rzRazon" class="form-control text-uppercase" placeholder="Razón Social"/>
            </div>
            <div class="col-md-3"><input id="rzDom" class="form-control" placeholder="Domicilio"/></div>
            <div class="col-md-3"><input id="rzCod" class="form-control" placeholder="Código Postal"/></div>
            <div class="col-md-3"><input id="rzObs" class="form-control" placeholder="Observaciones"/></div>
            <div class="col-md-3 offset-6 d-grid">
                <button class="btn btn-primary" onclick="agregarRazonTemp()">
                    <i class="fas fa-plus"></i> Agregar
                </button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-sm table-striped">
                <thead class="table-light">
                <tr>
                    <th>ID</th>
                    <th>RFC</th>
                    <th>Razón Social</th>
                    <th>Domicilio</th>
                    <th>Código Postal</th>
                    <th>Observaciones</th>
                    <th class="text-end">Opciones</th>
                </tr>
                </thead>
                <tbody id="listaRazones">
                @foreach (var r in Model.ClienteRazonSolcials)
                {
                    <tr data-id="@r.IdClienteRazonSolcial">
                        <td>@r.IdClienteRazonSolcial</td>
                        <td>@r.RFC</td>
                        <td><input class="form-control text-uppercase txt_rs_RazonSocial" value="@r.RazonSocial"></td>
                        <td><input class="form-control txt_rs_Domicilio" value="@r.Domicilio"></td>
                        <td><input class="form-control txt_rs_CodigoPostal" value="@r.CodigoPostal"></td>
                        <td><input class="form-control txt_rs_Observaciones" value="@r.Observaciones"></td>
                        <td class="text-end">
                            <button class="btn btn-danger btn-sm" onclick="quitarRazonTemp(this)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    // ===============================================
    // CONTACTOS TEMPORALES EN NAVAGADOR
    // ===============================================
    function agregarContactoTemp() {
        let n = document.getElementById("ctNombre").value;
        let t = document.getElementById("ctTel").value;
        let c = document.getElementById("ctCorreo").value;

        if (!n) return showToast("Datos incompletos", "Falta nombre del contacto", "error");

        let tr = `
            <tr>
                    <td></td>
                <td><input class="form-control txt_ct_Nombre" value="${n}"></td>
                <td><input class="form-control txt_ct_Telefono" value="${t}"></td>
                <td><input class="form-control txt_ct_Correo" value="${c}"></td>
                <td class="text-end">
                    <button class="btn btn-danger btn-sm" onclick="quitarContactoTemp(this)">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
            </tr>`;

        document.querySelector("#listaContactos").insertAdjacentHTML("beforeend", tr);

        document.getElementById("ctNombre").value = "";
        document.getElementById("ctTel").value = "";
        document.getElementById("ctCorreo").value = "";
    }

    function quitarContactoTemp(btn) {
        btn.closest("tr").remove();
    }

    // ===============================================
    // RAZONES SOCIALES TEMPORALES
    // ===============================================
    function agregarRazonTemp() {
        let rfc = document.getElementById("rzRFC").value;
        let rz = document.getElementById("rzRazon").value;
        let dom = document.getElementById("rzDom").value;
        let cod = document.getElementById("rzCod").value;
        let Obs = document.getElementById("rzObs").value;

        if (!rfc || !rz) return alert("RFC y Razón social son requeridos");

        let tr = `
            <tr>
                <td></td>
                <td>${rfc}</td>
                <td><input class="form-control txt_rs_RazonSocial" value="${rz}"></td>
                <td><input class="form-control txt_rs_Domicilio" value="${dom}"></td>
                <td><input class="form-control txt_rs_CodigoPostal" value="${cod}"></td>
                <td><input class="form-control txt_rs_Observaciones" value="${Obs}"></td>
                <td class="text-end">
                    <button class="btn btn-danger btn-sm" onclick="quitarRazonTemp(this)">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
            </tr>`;

        document.querySelector("#listaRazones").insertAdjacentHTML("beforeend", tr);

        document.getElementById("rzRFC").value = "";
        document.getElementById("rzRazon").value = "";
        document.getElementById("rzDom").value = "";
        document.getElementById("rzCod").value = "";
        document.getElementById("rzObs").value = "";
    }

    function quitarRazonTemp(btn) {
        btn.closest("tr").remove();
    }


    function ValidarDatosSinAgregar() {

        // ====== CONTACTO PENDIENTE ======
        const ctNombre = document.getElementById("ctNombre").value.trim();
        const ctTel = document.getElementById("ctTel").value.trim();
        const ctCorreo = document.getElementById("ctCorreo").value.trim();

        const hayContactoPendiente = ctNombre || ctTel || ctCorreo;

        // ====== RAZÓN SOCIAL PENDIENTE ======
        const rzRFC = document.getElementById("rzRFC").value.trim();
        const rzRazon = document.getElementById("rzRazon").value.trim();
        const rzDom = document.getElementById("rzDom").value.trim();
        const rzCod = document.getElementById("rzCod").value.trim();
        const rzObs = document.getElementById("rzObs").value.trim();

        const hayRazonPendiente = rzRFC || rzRazon || rzDom || rzCod || rzObs;

        if (hayContactoPendiente || hayRazonPendiente) {
            showToast(
                "Datos sin agregar",
                "Hay información escrita en Contactos o Razones Sociales que aún no ha sido agregada.",
                "error"
            );
            return false;
        }

        return true;
    }


    // ===============================================
    // GUARDAR CLIENTE COMPLETO (incluye listas)
    // ===============================================
    async function guardarCliente() {
        const btn = document.getElementById("btnGuardarCliente");
        btn.disabled = true;
        btn.innerHTML = `<i class="fas fa-spinner fa-spin"></i> Guardando...`;

        if (!ValidarDatosSinAgregar()) {
            btn.disabled = false;
            btn.innerHTML = `<i class="fas fa-save"></i> Guardar`;
            return;
        }

        try {
            const cliId = document.getElementById("IdCliente");
            const cliNombre = document.getElementById("Nombre");
            const cliDireccion = document.getElementById("Direccion");
            const cliObs = document.getElementById("Observaciones");
            const cliIdPerfil = document.getElementById("IdPerfil");
            const esCotizableInput = document.getElementById("esCotizable");

            if (!cliId || !cliNombre || !cliDireccion || !cliObs || !cliIdPerfil || !esCotizableInput) {
                showToast("Error interno", "No se encontró un campo del formulario. Revisa el Editar.", "error");
                btn.disabled = false;
                btn.innerHTML = `<i class="fas fa-save"></i> Guardar`;
                return;
            }


            // ========================
            // 📌 Construir CONTACTOS
            // ========================
            let contactos = [];
            document.querySelectorAll("#listaContactos tr").forEach(tr => {
                let tds = tr.querySelectorAll("td");
                if (tds.length >= 4) {
                    const inputNom = tds[1].querySelector("input.txt_ct_Nombre");
                    const inputTel = tds[2].querySelector("input.txt_ct_Telefono");
                    const inputCorr = tds[3].querySelector("input.txt_ct_Correo");

                    contactos.push({
                        IdClienteContacto: parseInt(tds[0].innerText.trim()),
                        Nombre: inputNom ? inputNom.value.trim() : "",
                        Telefono: inputTel ? inputTel.value.trim() : "",
                        Correo: inputCorr ? inputCorr.value.trim() : ""
                    });
                }
            });

            // ========================
            // 📌 Construir RAZONES SOCIALES
            // ========================
            let razones = [];
            document.querySelectorAll("#listaRazones tr").forEach(tr => {
                let tds = tr.querySelectorAll("td");
                if (tds.length >= 6) {
                    const inputRs = tds[2].querySelector("input.txt_rs_RazonSocial");
                    const inputDom = tds[3].querySelector("input.txt_rs_Domicilio");
                    const inputCod = tds[4].querySelector("input.txt_rs_CodigoPostal");
                    const inputObs = tds[5].querySelector("input.txt_rs_Observaciones");


                    razones.push({
                        IdClienteRazonSolcial: parseInt(tds[0].innerText.trim()),
                        RFC: tds[1].innerText.trim(),
                        RazonSocial: inputRs ? inputRs.value.trim() : "",
                        Domicilio: inputDom ? inputDom.value.trim() : "",
                        CodigoPostal: inputCod ? inputCod.value.trim() : "",
                        Observaciones: inputObs ? inputObs.value.trim() : ""
                    });
                }
            });


            let payload = {
                IdCliente: parseInt(cliId.value),
                Nombre: cliNombre.value,
                Direccion: cliDireccion.value,
                Observaciones: cliObs.value,
                IdPerfil: parseInt(cliIdPerfil.value),
                ClienteContactos: contactos,
                ClienteRazonSolcials: razones,
                esCotizable: esCotizableInput.value.toLowerCase() === "true"
            };
            const res = await fetch('/Cliente/GuardarCompleto', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(payload)
            });

            if (!res.ok) {
                let serverMsg = "Error desconocido al guardar el cliente.";
                try {
                    let serverText = await res.text();
                    const data = JSON.parse(serverText);
                    serverMsg = data.error || serverText;

                } catch {
                }
                throw new Error(serverMsg);
            }
            const data = await res.json();
            if (!data.ok) {
                throw new Error(data.error || "No se pudo guardar el cliente.");
            }


            showToast("Correcto", "Cliente guardado correctamente", "success");

            if (data.cliente.esCotizable === true) {
                location.href = `@Url.Action("Nueva", "Cotizacion")?idCliente=${data.cliente.idCliente}`
            } else {
                location.href = '@Url.Action("Index", "Cliente")'
            }


        } catch
            (err) {
            showToast("Error inesperado", err.message, "error");
        }

        btn.disabled = false;
        btn.innerHTML = `<i class="fas fa-save"></i> Guardar`;
    }
</script>

