@{
    ViewBag.Title = "Editar Producto";
    CultureInfo cultureMx = new CultureInfo("es-MX");


    var labelAtt = new
    {
        @@class = "form-label"
    };

    var labelValidation = new
    {
        @@class = "text-danger"
    };
    var editformAtt = new
    {
        htmlAttributes = new
        {
            @@class = "form-control"
        }
    };
}

@using System.Globalization
@using SEINMX.Clases.Helpers
@model SEINMX.Models.Inventario.ProductoViewModel

<div class="container-fluid mt-4 px-sm-0">
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @TempData["toast-error"]
            @Html.ValidationSummary()
        </div>
    }

    <div class="row">
        <div class="col-md-3">
            <div class="info-box">
                    <span class="info-box-icon text-bg-success shadow-sm">
                        <i class="fa-solid fa-hashtag"></i>
                    </span>

                <div class="info-box-content">
                    <span class="info-box-text">Producto</span>
                    <span class="info-box-number">
                        @Model.IdProducto / @Model.Codigo
                        @if (Model.IdProducto is null)
                        {
                            @Html.Raw("Nuevo")
                            ;
                        }
                    </span>
                </div>
            </div>
        </div>


    </div>

    <form id="formProducto" method="post" action="@Url.Action("Guardar", "Producto")">
        @Html.HiddenFor(m => m.IdProducto)

        <div class="card card-secondary mt-3">
            <div class="card-header">
                <h3 class="card-title">Datos generales</h3>
            </div>

            <div class="card-body">

                <div class="row">
                    <div class="col-md-3 mt-2">
                        @Html.LabelFor(model => model.Codigo, labelAtt)
                        @Html.EditorFor(model => model.Codigo, editformAtt)
                        @Html.ValidationMessageFor(model => model.Codigo, "", labelValidation)

                    </div>
                    <div class="col-md-3 mt-2">
                        @Html.LabelFor(model => model.CodigoProveedor, labelAtt)
                        @Html.EditorFor(model => model.CodigoProveedor, editformAtt)
                        @Html.ValidationMessageFor(model => model.CodigoProveedor, "", labelValidation)
                    </div>

                    <div class="col-md-12 mt-2">
                        @Html.LabelFor(model => model.Descripcion, labelAtt)
                        @Html.EditorFor(model => model.Descripcion, editformAtt)
                        @Html.ValidationMessageFor(model => model.Descripcion, "", labelValidation)
                    </div>

                    <div class="col-md-3 mt-2">
                        @Html.LabelFor(model => model.PrecioLista, labelAtt)
                        @Html.EditorFor(model => model.PrecioLista, editformAtt)
                        @Html.ValidationMessageFor(model => model.PrecioLista, "", labelValidation)
                    </div>

                    <div class="col-md-2 mt-2">
                        <div class="form-group">
                            @Html.LabelFor(model => model.IdMoneda, labelAtt)
                            @Html.DropDownListFor(
                                m => m.IdMoneda,
                                Model.GetComboMoneda(),
                                new { @class = "form-select", id = "IdMoneda", name = "IdMoneda" }
                            )
                            @Html.ValidationMessageFor(model => model.IdMoneda, "", labelValidation)
                        </div>
                    </div>

                    <div class="col-md-8 mt-2">
                        @Html.LabelFor(model => model.IdProveedor, labelAtt)
                        <cb-dropdown id="IdProveedor" name="IdProveedor">
                        </cb-dropdown>
                    </div>


                </div>

                <div class="row mt-3">
                    <div class="col-md-3 mt-2">
                        @Html.LabelFor(model => model.ClaveUnidadSAT, labelAtt)
                        @Html.EditorFor(model => model.ClaveUnidadSAT, editformAtt)
                        @Html.ValidationMessageFor(model => model.ClaveUnidadSAT, "", labelValidation)
                    </div>
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.Observaciones, labelAtt)
                        @Html.EditorFor(model => model.Observaciones, editformAtt)
                        @Html.ValidationMessageFor(model => model.Observaciones, "", labelValidation)
                    </div>
                </div>

            </div>

            <div class="card-footer text-end">
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-save"></i> Guardar
                </button>
            </div>
        </div>
    </form>
</div>


<script type="module">
    import {ClientsDataProvider} from "@UrlExtensions.Absolute("/dropdown-1.1.0/clientsDataProvider-1.1.1.js ")";

    const proveedorDropdown = document.querySelector("#IdProveedor");

    proveedorDropdown.dataProvider = new ClientsDataProvider(
        '/Proveedor/DropdownProveedors',
        'Buscar Proveedor...'
    );
    proveedorDropdown.setAttribute('selected', '@(Model is { IdProveedor : > 0 } ? Model.IdProveedor.ToString() : "")');

</script>


@*
@if (TempData["toast-success"] != null)
{
    <script>
        $(document).ready(function () {
            setTimeout(() => {
                location.href = '@Url.Action("Index", "Producto")'
            }, 1500);

        });
    </script>
}
*@
